.mb-3{
    margin-left: 25%;
    width: 40%;
}
.sub-but{
    margin-left: 25%;
    width: 40%;
}
.option-m {
    margin-left: 25%;
    width: 40%;
}
.Head-Description{
     margin-left: 20%;
}
.title-m{
    margin-left: 10%;
}